%% -*- erlang -*-
%%

[
 {lager, [{log_root, "/var/erlang/weatherpub/log"},
          {handlers, [
                      {lager_console_backend,
                       [info, {lager_default_formatter,
                                [date, " ", time," [",severity,"] ",pid, " ",
                                 module, ":", line, " ", message, "\n"]}]},
                      {lager_file_backend,
                       [{file, "error.log"}, {level, warning},
                        {size, 10485760}, {date, "$D0"}, {count, 5}]},
                      {lager_file_backend,
                       [{file, "console.log"}, {level, info},
                        {size, 10485760}, {date, "$D0"}, {count, 5}]}
                     ]}
          ]},

 {xbus,
  [{topics,
    [
     {<<"sensor.humidity.indoor">>, [{retain,2880}]},
     {<<"sensor.humidity.outdoor">>, [{retain,2880}]},
     {<<"sensor.temperature.indoor">>, [{retain,2880}]},
     {<<"sensor.temperature.outdoor">>, [{retain,2880}]},
     {<<"sensor.airpressure.abs">>, [{retain,2880}]},
     {<<"sensor.wind.ave">>,[{retain,2880}]},
     {<<"sensor.wind.gust">>,[{retain,2880}]},
     {<<"sensor.wind.direction">>,[{retain,2880}]},
     {<<"sensor.rain.level">>,[{retain,2880}]}
    ]}]},

 {exobus,
  [{id, "weatherpub"},
   {server_port, 13172},
   {ifaddr, {0,0,0,0}},
   {idle_timeout, 20000},
   {clients,
    [
     {"user",
      [
       {server_key, 33333333333333333333},
       {client_key, 44444444444444444444}
      ]}
    ]}
  ]}
].
